.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.header h1 {
    margin: 0;
}

.header hr {
    border: 0;
    height: 2px;
    background: black;
    margin-top: 10px;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scrollable-image-list-container {
    width: 60%;
    height: 630px;
    overflow-y: auto;
    padding-right: 10px;
    background-color: #ececec;
    border: 2px solid #ccc;
}

.scrollable-image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.scrollable-image-list img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.scrollable-image-list img:hover {
    border-color: #ccc;
}

.selection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 35%;
    margin-left: 20px;
}

.selection-slot {
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

.selection-slot.selected {
    border-color: blue;
}

.selection-slot img.selected-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
