.canvas-container {
    width: 100%;
    max-width: 510px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #e7e9f1;
    /* flex-shrink: 0; */
}

.canvas-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.canvas-container canvas {
    width: 100%;
    height: auto;
}

.grid {
    width: 100%;
    max-width: 1000px;
}
