@page "/tips"

@using Microsoft.EntityFrameworkCore
@using SoulDashboard.Database.Contexts

@rendermode RenderMode.InteractiveServer

@inject ApplicationDbContext Context

<PageTitle>Tips</PageTitle>

<div class="header">
    <h1>Tips</h1>
</div>

<MudExpansionPanels Class="my-10">
    @foreach (var tip in _tips)
    {
        <MudExpansionPanel Text="@tip.Title">
            @tip.Content
        </MudExpansionPanel>
    }
</MudExpansionPanels>

@code {
    private List<Tip> _tips = default!;
    protected override async Task OnInitializedAsync()
    {
        _tips = await Context.Tips.AsNoTracking().ToListAsync();
    }
}
